@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
button.normal {
    font-size: 20px;
    font-weight: 600;
    padding: 5px 30px;
    color: #000;
    background-color: #fff;
    border-radius:4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4 ease;
}
body{
    width: 100%;
}
/* header section*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6f3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    /*for nav bar to be stable and show properly*/
    z-index: 999;
    position: sticky;/*makes the navbar stable */
    top: 0;
    left: 0;
}
#nav-bar{
    display: flex;
    margin: 0;
    padding: 0;
}
#nav-bar li{
    margin: 0 20px;
    list-style: none;
    position: relative;
}
#nav-bar li a{
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 600;
    font-size: 16px;
    transition: 0.6s;
}
#nav-bar a:hover,
#nav-bar a.active{
    color: #088178;
}
#nav-bar a.active::after,
#nav-bar a:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 0;
}
/* Slide Drawer for Mobile */
#nav-drawer {
    position: fixed;
    top: 0;
    left: -400px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 80px 20px 20px;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

#nav-drawer.active {
    left: 0;
    list-style: none;
}

#nav-drawer li {
    margin-bottom: 20px;
    text-decoration: none;
}

#nav-drawer a {
    font-size: 18px;
    text-decoration: none;
    color: #1a1a1a;
}

#nav-drawer a:hover {
    color: #088178;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #1a1a1a;
    cursor: pointer;
    display: none;
}
#mobile{
    display: none;
}

/*home page*/
#hero{
    background-image: url("img/feature/hero4.png");
    height: 90vh;
    width: 100%;
    background-size:cover;
    background-position: top 25% right 0;
    padding: 0 80px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}
#hero button{
    background-image:url("img/blog/button.png") ;
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding:25px 15px ;
    box-shadow: 20px 20px 34px rgba(0, 0,0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0 ;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62,221, 0.1);
}
#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px ;
    line-height: 1;
    border-radius: 4px;
    color:#088178;
    background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color:#d1e8f2 ;
}
#feature .fe-box:nth-child(4) h6{
    background-color:#cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}
/* for products */
#product1 .pro-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#product1{
    text-align: center;

}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border:1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0,0, 0.06);
}
#product1 .pro img{
    width :100%;
    border-radius: 20px;
}
#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color:#606063 ;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top:7px;
    color: #1a1a1a;
    font-size: 14px ;
}
#product1 .pro .des .star i{
    font-size:12px;
    color: rgb(243, 811, 25);
}
#product1 .pro .des .prise {
    display: flex;
    justify-content: space-between;
}
#product1 .pro .des .prise h4{
    padding-top: 7px ;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .des .prise a{
    color:#606063 ;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #fff;
    font-size: 16px
}
#banner h2{
    color: #fff;
    font-size:30px ;
    padding:10px 0;
}
#banner h2 span{
    color: #efd336;
}
#banner button:hover{
    background: #088178;
    color:#fff;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px 20px;
}
#sm-banner .banner-box2{
    background-image: url("img/banner/b10.jpg");
}
#sm-banner h4{
    color: #fff;
    font-size:20px ;
    font-weight: 300;

}
#sm-banner h2{
    color: #fff;
    font-size:28px ;
    font-weight: 800;
    
}
#sm-banner span{
    color: #fff;
    font-size:14px ;
    font-weight: 500;
    padding-bottom: 15px;
}
button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color:transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.4 ease;
}
#sm-banner .banner-box:hover button{
background-color: #088178;
border: 1px solid #088178;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    padding:20px ;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
#banner3 .banner-box2{
    background-image: url("img/banner/b4.jpg");
}
#banner3 .banner-box3{
    background-image: url("img/banner/b18.jpg");
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: #ef3636;
    font-weight: 500;
    font-size: 18px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position:20% 30% ;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color:#ffbd27 ;
}

#newsletter .form{
    display: flex;
    width: 40%;

}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline:none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20pxS;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin:0 0  8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;

}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}

/*SHOP PAGE*/
#page-header{
    background-image: url("img/banner/b1.jpg");
    height:40vh;
    width: 100%;
    background-size: cover;
    justify-content: center;
    display:flex;
    text-align: center;
    flex-direction: column;
    padding: 15px;
}
#page-header h2,
#page-blog h2{
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
}
#page-header p,
#page-blog p{
    color: #fff;

}
#pageination{
    text-align: center;
}
#pageination a{
    text-decoration: none;
    background-color: #088178;
    padding:15px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#pageination a i{
    font-size: 16px;
    font-weight: 600;
}
/*single product deatils*/
#prodetails{
    display: flex;
    justify-content: space-between;
}
#prodetails .single-pro-img{
    width: 40%;
    margin-right: 50px;
    height: 5ovh;
}
.small-img-group{
    display:flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top:30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    padding:5px 10px ;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 35px;
    padding-left:10px ;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details button{
    background: #088178;
    color: #fff;
}
#prodetails .single-pro-details span{
    line-height: 25px;
    color: #606063;
}
/*blog header*/
.blog-header{
    background-image: url("img/banner/b19.jpg");
    height:40vh;
    width: 100%;
    background-size: cover;
    justify-content: center;
    display:flex;
    text-align: center;
    flex-direction: column;
    padding: 15px;
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width:100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position:relative;
    transition: 0.3s;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after{
    color: #088178;
}
.blog-box h1{
    position:absolute;
    top: -40px;
    left:0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}
/*about section of the web sit*/
#page-header.about-header{
    background-image: url(img/about/banner.png);
    width:100%;
    height: 40vh;
    background-size:cover ;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15vh;
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head div{
    padding-left: 40px;
}
#about-head img{
    width: 50%;
    height: auto;
}
#about-app{
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin-top: 30px;
}
/*contact details*/
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span,
#form-details form span{
    font-size: 12px;
}
#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 26px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style:none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details ,map{
    width: 70%;
    height: 100%;
}
/*STYLING of form page */

#form-details form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
}
#form-details form input,
#form-details form textarea{
    width: 80%;
    padding: 12px 15px;
    outline: none;
    margin-bottom:20px ;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
}
#form-details form button{
    background-color: #088178;
    color: #fff;
}
@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #nav-bar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right:-300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0,0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }
    #close{
        display: block;
    }
    
    #lg-bag{
        display: none;
    }
    #hero {
        
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
        
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px 15px;
    }
    #banner {
        height: 20vh;
    }
    #banner h2 {
        font-size: 20px;
        padding: 10px 0;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 40vh;
        margin-top: 20px;
    }
    #banner3 {
        padding:  40px;
    }
    #banner3 .banner-box {
        width: 28px;
    }
    #newsletter .form {
        width: 70%;
    }
    /*blog*/
    #blog{
        padding:100px
    }
    #blog .blog-box{
        padding-bottom: 70px;
        margin-left :0 ;
    }
    
    
}
@media(max-width:477px){
    .section-p1 {
        padding: 20px ;
    }
    #header {
        padding: 10px 30px;
    }
    #hero{
        padding: 0 20px;
        background-position: 65%;
    }
    h2 {
        font-size: 32px;
    }
    h1 {
        font-size: 38px;
    }
    #feature{
        justify-content:space-around ;
    }
    #feature .fe-box{
        width: 140px;
        margin: 0 0 15px 0;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #sm-banner .banner-box2{
        margin-top: 20px;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #newsletter{
        padding: 40px 20px;
    }
    #newsletter .form {
        width: 100%;
    }
    /*single products*/
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-img{
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }
    /*blog page */
    #blog{
        padding:  100px 20px 0 20px ;
    }
    #blog .blog-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 60px;
    }
    #blog .blog-img{
        width: 100%;
    }
    #blog .blog-details{
        width: 100%;
    }
    /*about section*/
    #about-head {
    
    flex-direction: column;
   
    }
    #about-head img{
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div {
        padding-left: 0px;
    }
    
}